Repository software-mansion/react-native-reanimated, changes with the labels that .github/labeler.yml gives for each.
All labels: lib: Reanimated, lib: Worklets

.github/labeler.yml:

'lib: Reanimated':
  - changed-files:
      - any-glob-to-any-file:
          ['packages/react-native-reanimated/**', 'docs/docs-reanimated/**']

'lib: Worklets':
  - changed-files:
      - any-glob-to-any-file:
          ['packages/react-native-worklets/**', 'docs/docs-worklets/**']

yarn.lock ;)
  yarn.lock
Labels: none

fix paths
  docs/docs-reanimated/src/components/Compatibility/index.tsx
  docs/docs-worklets/src/components/Compatibility/index.tsx
Labels: lib: Reanimated, lib: Worklets

lost unsaved workflow
  .github/workflows/docs-reanimated-build-check.yml
Labels: none

fix
  package.json
Labels: none

prettier
  .prettiereslintignore
Labels: none

(cherry-pick) [Web LA] Ensure callbacks are called when ReducedMotion is on (#8312)
  packages/react-native-reanimated/src/createAnimatedComponent/createAnimatedComponent.tsx
Labels: lib: Reanimated

adjust to review
  packages/react-native-reanimated/android/CMakeLists.txt
  packages/react-native-worklets/android/CMakeLists.txt
Labels: lib: Reanimated, lib: Worklets

Fix lint issue
  packages/react-native-reanimated/android/CMakeLists.txt
Labels: lib: Reanimated

chore: add jest mocks
  packages/react-native-reanimated/jest-setup.js
  packages/react-native-worklets/src/mock.ts
  packages/react-native-worklets/src/threads.web.ts
Labels: lib: Reanimated, lib: Worklets

(cherry-pick): Fix missing `ReactAndroid_VERSION_MINOR` CMake variable used before find_package (#8313)
  packages/react-native-reanimated/android/CMakeLists.txt
  packages/react-native-worklets/android/CMakeLists.txt
Labels: lib: Reanimated, lib: Worklets

[LA] Add check if view is mounted on Android (#8083)
  packages/react-native-reanimated/Common/cpp/reanimated/LayoutAnimations/LayoutAnimationsProxy.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/LayoutAnimations/LayoutAnimationsProxy.h
  packages/react-native-reanimated/Common/cpp/reanimated/NativeModules/ReanimatedModuleProxy.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/NativeModules/ReanimatedModuleProxy.h
  packages/react-native-reanimated/Common/cpp/reanimated/Tools/PlatformDepMethodsHolder.h
  packages/react-native-reanimated/android/src/main/cpp/reanimated/android/NativeProxy.cpp
  packages/react-native-reanimated/android/src/main/cpp/reanimated/android/NativeProxy.h
Labels: lib: Reanimated

Fix build issues
  packages/react-native-reanimated/Common/cpp/reanimated/LayoutAnimations/LayoutAnimationsProxy.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/NativeModules/ReanimatedModuleProxy.cpp
Labels: lib: Reanimated

Format code
  packages/react-native-reanimated/Common/cpp/reanimated/LayoutAnimations/LayoutAnimationsProxy.cpp
Labels: lib: Reanimated

Fix transform origin components swapping
  packages/react-native-reanimated/src/common/processors/transformOrigin.ts
Labels: lib: Reanimated

Make ValueProcessor inputs non-mutable
  packages/react-native-reanimated/src/common/processors/transformOrigin.ts
  packages/react-native-reanimated/src/common/types.ts
  packages/react-native-reanimated/src/css/native/style/processors/colors.ts
  packages/react-native-reanimated/src/css/web/style/types.ts
Labels: lib: Reanimated

chore: Make ValueProcessor inputs non-mutable (#8317)
  packages/react-native-reanimated/src/common/processors/transformOrigin.ts
  packages/react-native-reanimated/src/common/types.ts
  packages/react-native-reanimated/src/css/native/style/processors/colors.ts
  packages/react-native-reanimated/src/css/web/style/types.ts
Labels: lib: Reanimated

add missing definitions
  packages/react-native-reanimated/android/src/fabric/java/com/swmansion/reanimated/NativeProxy.java
Labels: lib: Reanimated

add preserveMountedTags impl
  packages/react-native-reanimated/android/src/fabric/java/com/swmansion/reanimated/NativeProxy.java
Labels: lib: Reanimated

Revert synchronouslyUpdateUIProps function impl
  packages/react-native-reanimated/Common/cpp/reanimated/Tools/PlatformDepMethodsHolder.h
  packages/react-native-reanimated/android/src/fabric/java/com/swmansion/reanimated/NativeProxy.java
  packages/react-native-reanimated/android/src/main/cpp/reanimated/android/NativeProxy.cpp
  packages/react-native-reanimated/android/src/main/cpp/reanimated/android/NativeProxy.h
Labels: lib: Reanimated

Optimize view descriptors set
  packages/react-native-reanimated/src/ViewDescriptorsMap.ts
  packages/react-native-reanimated/src/ViewDescriptorsSet.ts
  packages/react-native-reanimated/src/createAnimatedComponent/InlinePropManager.ts
  packages/react-native-reanimated/src/createAnimatedComponent/commonTypes.ts
  packages/react-native-reanimated/src/hook/commonTypes.ts
  packages/react-native-reanimated/src/hook/useAnimatedStyle.ts
  packages/react-native-reanimated/src/screenTransition/styleUpdater.ts
  packages/react-native-reanimated/src/updateProps/updateProps.ts
Labels: lib: Reanimated

Fix screen transition example crash
  apps/common-app/src/apps/reanimated/examples/ScreenTransitionExample.tsx
Labels: none

Format code
  packages/react-native-reanimated/android/src/fabric/java/com/swmansion/reanimated/NativeProxy.java
Labels: lib: Reanimated

Cleanup
  apps/fabric-example/ios/Podfile.lock
  packages/react-native-reanimated/android/CMakeLists.txt
  packages/react-native-reanimated/src/ViewDescriptorsMap.ts
  packages/react-native-reanimated/src/updateProps/updateProps.ts
Labels: lib: Reanimated

Add warning when animated ref is initialized and don't pass it to native
  packages/react-native-reanimated/src/platformFunctions/dispatchCommand.ts
  packages/react-native-reanimated/src/platformFunctions/scrollTo.web.ts
Labels: lib: Reanimated

chore: use .native instead
  eslint.config.mjs
  packages/react-native-worklets/__tests__/API.test.ts
  packages/react-native-worklets/jest.config.js
  packages/react-native-worklets/src/PlatformChecker/PlatformChecker.ts
  packages/react-native-worklets/src/PlatformChecker/index.native.ts
  packages/react-native-worklets/src/PlatformChecker/index.ts
  packages/react-native-worklets/src/PlatformChecker/index.web.ts
  packages/react-native-worklets/src/WorkletsError.native.ts
  packages/react-native-worklets/src/WorkletsError.ts
  packages/react-native-worklets/src/WorkletsError.web.ts
  packages/react-native-worklets/src/WorkletsModule/index.native.ts
  packages/react-native-worklets/src/WorkletsModule/index.ts
  packages/react-native-worklets/src/WorkletsModule/index.web.ts
  packages/react-native-worklets/src/featureFlags/index.native.ts
  packages/react-native-worklets/src/featureFlags/index.ts
  packages/react-native-worklets/src/featureFlags/index.web.ts
  packages/react-native-worklets/src/initializers.native.ts
  packages/react-native-worklets/src/initializers.ts
  packages/react-native-worklets/src/initializers.web.ts
  packages/react-native-worklets/src/isSynchronizable.native.ts
  packages/react-native-worklets/src/isSynchronizable.ts
  packages/react-native-worklets/src/isSynchronizable.web.ts
  packages/react-native-worklets/src/runtimes.native.ts
  packages/react-native-worklets/src/runtimes.ts
  packages/react-native-worklets/src/runtimes.web.ts
  packages/react-native-worklets/src/serializable.native.ts
  packages/react-native-worklets/src/serializable.ts
  packages/react-native-worklets/src/serializable.web.ts
  packages/react-native-worklets/src/serializableMappingCache.native.ts
  packages/react-native-worklets/src/serializableMappingCache.ts
  packages/react-native-worklets/src/serializableMappingCache.web.ts
  packages/react-native-worklets/src/synchronizable.native.ts
  packages/react-native-worklets/src/synchronizable.ts
  packages/react-native-worklets/src/synchronizable.web.ts
  packages/react-native-worklets/src/threads.native.ts
  packages/react-native-worklets/src/workletRuntimeEntry.native.ts
  packages/react-native-worklets/src/workletRuntimeEntry.ts
  packages/react-native-worklets/src/workletRuntimeEntry.web.ts
  packages/react-native-worklets/tsconfig.json
Labels: lib: Worklets

Fix Animated.ScrollView type incompatibility
  .github/workflows/reanimated-static-checks.yml
  packages/react-native-reanimated/src/component/ScrollView.tsx
  packages/react-native-reanimated/src/createAnimatedComponent/createAnimatedComponent.tsx
  packages/react-native-reanimated/src/createAnimatedComponent/index.ts
Labels: lib: Reanimated

Fix GA formatting
  .github/workflows/reanimated-static-checks.yml
Labels: none

Add missing include
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/interpolation/transforms/TransformOperation.cpp
Labels: lib: Reanimated

(cherry-pick) [LA] Add check if view is mounted on Android (#8083) (#8321)
  packages/react-native-reanimated/Common/cpp/reanimated/LayoutAnimations/LayoutAnimationsProxy.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/LayoutAnimations/LayoutAnimationsProxy.h
  packages/react-native-reanimated/Common/cpp/reanimated/NativeModules/ReanimatedModuleProxy.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/NativeModules/ReanimatedModuleProxy.h
  packages/react-native-reanimated/Common/cpp/reanimated/Tools/PlatformDepMethodsHolder.h
  packages/react-native-reanimated/android/src/fabric/java/com/swmansion/reanimated/NativeProxy.java
  packages/react-native-reanimated/android/src/main/cpp/reanimated/android/NativeProxy.cpp
  packages/react-native-reanimated/android/src/main/cpp/reanimated/android/NativeProxy.h
Labels: lib: Reanimated

fix: Don't pass uninitialized ref to dispatchCommand, add warnings (#8327)
  packages/react-native-reanimated/src/platformFunctions/dispatchCommand.ts
  packages/react-native-reanimated/src/platformFunctions/scrollTo.web.ts
Labels: lib: Reanimated

cherry-pick: Don't pass uninitialized ref to dispatchCommand, add warnings
  packages/react-native-reanimated/src/platformFunctions/dispatchCommand.ts
  packages/react-native-reanimated/src/platformFunctions/scrollTo.web.ts
Labels: lib: Reanimated

Move android-only prop definition to ifdef block
  packages/react-native-reanimated/Common/cpp/reanimated/LayoutAnimations/LayoutAnimationsProxy.h
Labels: lib: Reanimated

Update apps/common-app/src/apps/reanimated/examples/ArticleProgressExample.tsx
  apps/common-app/src/apps/reanimated/examples/ArticleProgressExample.tsx
Labels: none

Apply review suggestions
  apps/common-app/src/apps/css/components/misc/ActionSheetDropdown.tsx
  apps/common-app/src/apps/reanimated/examples/RuntimeTests/ReJest/types.ts
  apps/common-app/src/apps/reanimated/examples/RuntimeTests/tests/props/boxShadow.test.tsx
  apps/common-app/src/apps/reanimated/examples/ScrollViewOffsetExample.tsx
  apps/common-app/src/apps/reanimated/examples/SetNativePropsExample.tsx
Labels: none

fix: Move android-only prop definition to ifdef block (#8333)
  packages/react-native-reanimated/Common/cpp/reanimated/LayoutAnimations/LayoutAnimationsProxy.h
Labels: lib: Reanimated

fix(Worklets): Bundle Mode accidentally toggling in Expo54
  packages/react-native-worklets/plugin/index.js
  packages/react-native-worklets/plugin/src/bundleMode.ts
  packages/react-native-worklets/plugin/src/plugin.ts
  packages/react-native-worklets/src/workletRuntimeEntry.ts
Labels: lib: Worklets

cherry-pick: Don't pass uninitialized ref to dispatchCommand, add war… (#8334)
  packages/react-native-reanimated/src/platformFunctions/dispatchCommand.ts
  packages/react-native-reanimated/src/platformFunctions/scrollTo.web.ts
Labels: lib: Reanimated

Fix animated styles not working with react freeze
  packages/react-native-reanimated/src/ViewDescriptorsSet.ts
  packages/react-native-reanimated/src/createAnimatedComponent/createAnimatedComponent.tsx
Labels: lib: Reanimated

Fix conditions
  packages/react-native-reanimated/src/createAnimatedComponent/createAnimatedComponent.tsx
Labels: lib: Reanimated

Fix style re-attaching
  packages/react-native-reanimated/src/createAnimatedComponent/createAnimatedComponent.tsx
Labels: lib: Reanimated
