Repository software-mansion/react-native-reanimated, changes with the labels that .github/labeler.yml gives for each.
All labels: lib: Reanimated, lib: Worklets

Remove console.log
  packages/react-native-reanimated/src/createAnimatedComponent/createAnimatedComponent.tsx
Labels: lib: Reanimated

Add extra safety checks for matrix size
  apps/fabric-example/ios/Podfile.lock
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/common/transforms/TransformMatrix2D.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/common/transforms/TransformMatrix3D.cpp
Labels: lib: Reanimated

Fix formatting
  apps/common-app/src/apps/reanimated/examples/ArticleProgressExample.tsx
Labels: none

fix: Animated styles not working with react freeze after unfreezing component (#8336)
  packages/react-native-reanimated/src/ViewDescriptorsSet.ts
  packages/react-native-reanimated/src/createAnimatedComponent/createAnimatedComponent.tsx
Labels: lib: Reanimated

Set reanimated version to 3.19.2
  apps/fabric-example/ios/Podfile.lock
  apps/macos-example/macos/Podfile.lock
  apps/paper-example/ios/Podfile.lock
  apps/tvos-example/ios/Podfile.lock
  packages/react-native-reanimated/package.json
  packages/react-native-reanimated/src/platform-specific/jsVersion.ts
Labels: lib: Reanimated

feat: 3D and 2D CSS transform matrix integration (#8195)
  apps/fabric-example/ios/Podfile.lock
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/InterpolatorRegistry.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/common/transforms/TransformMatrix.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/common/transforms/TransformMatrix2D.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/common/transforms/TransformMatrix2D.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/common/transforms/TransformMatrix3D.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/common/transforms/TransformMatrix3D.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/common/values/CSSValueVariant.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/common/values/CSSValueVariant.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/interpolation/InterpolatorFactory.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/interpolation/transforms/TransformOperation.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/interpolation/transforms/TransformOperation.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/interpolation/transforms/TransformOperationInterpolator.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/interpolation/transforms/TransformOperationInterpolator.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/interpolation/transforms/TransformsStyleInterpolator.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/interpolation/transforms/operations/matrix.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/interpolation/transforms/operations/matrix.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/interpolation/transforms/operations/perspective.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/interpolation/transforms/operations/rotate.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/interpolation/transforms/operations/scale.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/interpolation/transforms/operations/skew.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/interpolation/transforms/operations/translate.h
Labels: lib: Reanimated

Fix re-registering animated styles on unfreeze
  packages/react-native-reanimated/src/ViewDescriptorsSet.ts
  packages/react-native-reanimated/src/createAnimatedComponent/AnimatedComponent.tsx
Labels: lib: Reanimated

fix: Animated styles not registered after unfreeze (#8325)
  packages/react-native-reanimated/src/ViewDescriptorsSet.ts
  packages/react-native-reanimated/src/createAnimatedComponent/AnimatedComponent.tsx
Labels: lib: Reanimated

fix: Animated styles not registered after unfreeze (#8325)
  packages/react-native-reanimated/src/ViewDescriptorsSet.ts
  packages/react-native-reanimated/src/createAnimatedComponent/AnimatedComponent.tsx
Labels: lib: Reanimated

cherry-pick: Don't pass uninitialized ref to dispatchCommand, add warnings
  packages/react-native-reanimated/src/platformFunctions/dispatchCommand.ts
  packages/react-native-reanimated/src/platformFunctions/scrollTo.web.ts
Labels: lib: Reanimated

chore: Move transforms and matrix implementations from headers to cpp files (#8262)
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/common/transforms/TransformMatrix.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/common/transforms/TransformMatrix.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/interpolation/transforms/TransformOperation.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/interpolation/transforms/TransformOperation.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/interpolation/transforms/TransformOperationInterpolator.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/interpolation/transforms/TransformOperationInterpolator.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/interpolation/transforms/operations/matrix.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/interpolation/transforms/operations/matrix.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/interpolation/transforms/operations/perspective.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/interpolation/transforms/operations/perspective.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/interpolation/transforms/operations/rotate.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/interpolation/transforms/operations/rotate.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/interpolation/transforms/operations/scale.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/interpolation/transforms/operations/scale.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/interpolation/transforms/operations/skew.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/interpolation/transforms/operations/skew.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/interpolation/transforms/operations/translate.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/interpolation/transforms/operations/translate.h
Labels: lib: Reanimated

return of the change cause even if it works with it, it changed again to previous version??
  packages/react-native-worklets/Common/cpp/worklets/Resources/SynchronizableUnpacker.cpp
Labels: lib: Worklets

docs: Incorporate docs into monorepo (#8304)
  .github/workflows/docs-reanimated-build-check.yml
  .github/workflows/docs-reanimated-publish.yml
  .husky/pre-commit
  package.json
  packages/docs-reanimated/.yarnrc.yml
  packages/docs-reanimated/package.json
  packages/docs-reanimated/yarn.lock
  packages/docs-worklets/.yarnrc.yml
  packages/docs-worklets/package.json
  packages/docs-worklets/yarn.lock
  yarn.lock
Labels: none

yarn.lock
  yarn.lock
Labels: none

Compatibility with new Hermes (#8268)
  packages/react-native-worklets/Common/cpp/worklets/WorkletRuntime/WorkletHermesRuntime.cpp
  packages/react-native-worklets/Common/cpp/worklets/WorkletRuntime/WorkletHermesRuntime.h
  packages/react-native-worklets/android/CMakeLists.txt
  packages/react-native-worklets/android/build.gradle
Labels: lib: Worklets

(cherry-pick) fix: Don't pass uninitialized ref to dispatchCommand, add warnings (#8339)
  packages/react-native-reanimated/src/platformFunctions/dispatchCommand.ts
  packages/react-native-reanimated/src/platformFunctions/scrollTo.web.ts
Labels: lib: Reanimated

fix: Replace old link to worklet error "Tried to synchrounously call a non worklet function..." (#8319)
  apps/common-app/src/apps/reanimated/examples/RuntimeTests/tests/advancedAPI/useFrameCallback.test.tsx
  packages/react-native-worklets/Common/cpp/worklets/Resources/ValueUnpacker.cpp
  packages/react-native-worklets/src/bundleUnpacker.ts
  packages/react-native-worklets/src/valueUnpacker.ts
Labels: lib: Worklets

pro-motion adjust
  packages/react-native-worklets/apple/worklets/apple/AnimationFrameQueue.mm
Labels: lib: Worklets

(cherry-pick) fix: Animated styles not registered after unfreeze (#8338)
  packages/react-native-reanimated/src/ViewDescriptorsSet.ts
  packages/react-native-reanimated/src/createAnimatedComponent/AnimatedComponent.tsx
Labels: lib: Reanimated

Fix remaining freeze issues
  packages/react-native-reanimated/src/ViewDescriptorsSet.ts
  packages/react-native-reanimated/src/createAnimatedComponent/createAnimatedComponent.tsx
Labels: lib: Reanimated

my nemesis - trailing whiteline
  packages/docs-reanimated/static/robots.txt
Labels: none

review changes
  apps/common-app/src/App.tsx
  apps/macos-example/macos/Podfile
  packages/react-native-worklets/apple/worklets/apple/AnimationFrameQueue.mm
Labels: lib: Worklets

release: Reanimated 3.19.2 (#8337)
  apps/fabric-example/ios/Podfile.lock
  apps/macos-example/macos/Podfile.lock
  apps/paper-example/ios/Podfile.lock
  apps/tvos-example/ios/Podfile.lock
  packages/react-native-reanimated/package.json
  packages/react-native-reanimated/src/ViewDescriptorsSet.ts
  packages/react-native-reanimated/src/createAnimatedComponent/createAnimatedComponent.tsx
  packages/react-native-reanimated/src/platform-specific/jsVersion.ts
Labels: lib: Reanimated

Change 3.19 version range to 3.19.x
  packages/docs-reanimated/versioned_docs/version-3.x/guides/compatibility.mdx
Labels: none

init
  apps/common-app/src/apps/reanimated/examples/PlatformColorExample.tsx
  apps/common-app/src/apps/reanimated/examples/index.ts
  packages/react-native-reanimated/src/common/processors/colors.ts
  packages/react-native-reanimated/src/index.ts
Labels: lib: Reanimated

docs: Change explicit 3.19 version range to 3.19.x (#8340)
  packages/docs-reanimated/versioned_docs/version-3.x/guides/compatibility.mdx
Labels: none

add eslint ignore
  packages/react-native-reanimated/src/common/processors/colors.ts
Labels: lib: Reanimated

Synchronously update non-layout props on iOS
  apps/fabric-example/App.tsx
  packages/react-native-reanimated/Common/cpp/reanimated/NativeModules/ReanimatedModuleProxy.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/Tools/PlatformDepMethodsHolder.h
  packages/react-native-reanimated/apple/reanimated/apple/REANodesManager.h
  packages/react-native-reanimated/apple/reanimated/apple/REANodesManager.mm
  packages/react-native-reanimated/apple/reanimated/apple/ReanimatedModule.mm
  packages/react-native-reanimated/apple/reanimated/apple/native/PlatformDepMethodsHolderImpl.mm
Labels: lib: Reanimated

fix formatting in the list of examples
  apps/common-app/src/apps/reanimated/examples/index.ts
Labels: none

Apply style changes directly on component view
  packages/react-native-reanimated/apple/reanimated/apple/REANodesManager.mm
Labels: lib: Reanimated

add whitespace
  apps/common-app/src/apps/reanimated/examples/index.ts
Labels: none

wrong example??
  apps/common-app/src/apps/reanimated/examples/index.ts
Labels: none

Change transform operation iterpolator interpolate method return type
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/interpolation/transforms/TransformOperationInterpolator.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/interpolation/transforms/TransformOperationInterpolator.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/interpolation/transforms/TransformsStyleInterpolator.cpp
Labels: lib: Reanimated

Start working on SVG transforms support in CSS
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/InterpolatorRegistry.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/interpolation/transforms/TransformsStyleInterpolator.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/interpolation/transforms/TransformsStyleInterpolator.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/svg/interpolation/transforms/SVGTransformsStyleInterpolator.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/svg/interpolation/transforms/SVGTransformsStyleInterpolator.h
Labels: lib: Reanimated

polsih up example
  apps/common-app/src/apps/reanimated/examples/PlatformColorExample.tsx
Labels: none

review changes
  .prettiereslintignore
  docs/docs-reanimated/docs/guides/contributing.mdx
Labels: lib: Reanimated

some if got away, but it must be there to prevent the error
  packages/react-native-worklets/apple/worklets/apple/AnimationFrameQueue.mm
Labels: lib: Worklets

negation
  packages/react-native-worklets/apple/worklets/apple/AnimationFrameQueue.mm
Labels: lib: Worklets

format
  packages/react-native-worklets/apple/worklets/apple/AnimationFrameQueue.mm
Labels: lib: Worklets

Update customizing-animation.mdx
  packages/docs-reanimated/docs/fundamentals/customizing-animation.mdx
Labels: none

.github/labeler.yml:

'lib: Reanimated':
  - changed-files:
      - any-glob-to-any-file:
          ['packages/react-native-reanimated/**', 'docs/docs-reanimated/**']

'lib: Worklets':
  - changed-files:
      - any-glob-to-any-file:
          ['packages/react-native-worklets/**', 'docs/docs-worklets/**']
