Repository software-mansion/react-native-reanimated, pull requests merged in 2025-08, with the labels that each got.

#7953 fix: iOS crash caused by the `IOSUIScheduler`
  packages/react-native-worklets/apple/worklets/apple/IOSUIScheduler.h
  packages/react-native-worklets/apple/worklets/apple/IOSUIScheduler.mm
Labels: lib: Worklets

#7957 Remove unnecessary `makeShareable` call for color names and properties
  packages/react-native-reanimated/src/Colors.ts
Labels: lib: Reanimated

#7962 Add support for remaining synchronous props on Android
  apps/common-app/src/apps/reanimated/examples/ColorExample.tsx
  apps/common-app/src/apps/reanimated/examples/assets/logo.png
  packages/react-native-reanimated/Common/cpp/reanimated/NativeModules/ReanimatedModuleProxy.cpp
  packages/react-native-reanimated/android/src/main/java/com/swmansion/reanimated/NativeProxy.java
Labels: lib: Reanimated

#7972 fix: Small CSS issues introduced in recent PRs
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/common/values/CSSColor.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/config/interpolators/registry.cpp
Labels: lib: Reanimated

#7961 feat: Support for SVG Ellipse in CSS animations
  apps/common-app/src/apps/css/examples/animations/routes/properties/svg.ts
  apps/common-app/src/apps/css/examples/animations/screens/animatedProperties/svg/Circle.tsx
  apps/common-app/src/apps/css/examples/animations/screens/animatedProperties/svg/Ellipse.tsx
  apps/common-app/src/apps/css/examples/animations/screens/animatedProperties/svg/index.ts
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/svg/config/init.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/svg/config/init.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/svg/config/interpolators/ellipse.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/svg/values/SVGLength.cpp
  packages/react-native-reanimated/src/css/platform/native/configs/svg/ellipse.ts
  packages/react-native-reanimated/src/css/platform/native/configs/svg/index.ts
  packages/react-native-reanimated/src/css/platform/native/styleBuilder.ts
Labels: lib: Reanimated

#7808 feat: Support for remaining SVG stroke properties in CSS
  apps/common-app/src/apps/css/examples/animations/screens/animatedProperties/svg/common/Stroke.tsx
  apps/common-app/src/apps/css/navigation/Navigator.tsx
  apps/common-app/src/apps/css/navigation/constants.ts
  apps/common-app/src/apps/css/navigation/index.ts
  apps/common-app/src/apps/css/navigation/routes.ts
  apps/common-app/src/apps/css/navigation/search/SearchScreen.tsx
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/svg/config/interpolators/common.h
  packages/react-native-reanimated/src/css/platform/native/configs/svg/common.ts
  packages/react-native-reanimated/src/css/platform/native/style/processors/svg/colors.ts
  packages/react-native-reanimated/src/css/platform/native/style/processors/svg/fill.ts
  packages/react-native-reanimated/src/css/platform/native/style/processors/svg/index.ts
  packages/react-native-reanimated/src/css/platform/native/style/processors/svg/others.ts
Labels: lib: Reanimated

#7988 Add "[Reanimated]" prefix in error messages for fast path on Android
  packages/react-native-reanimated/Common/cpp/reanimated/NativeModules/ReanimatedModuleProxy.cpp
Labels: lib: Reanimated

#7978 fix: Keyframe LA easing not working properly on web
  packages/react-native-reanimated/src/layoutReanimation/web/animationParser.ts
  packages/react-native-reanimated/src/layoutReanimation/web/createAnimation.ts
Labels: lib: Reanimated

#8002 fix: CSS transition color crashes
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/common/values/CSSColor.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/common/values/CSSColor.h
Labels: lib: Reanimated

#8006 (cherry-pick) fix: LA Manager initialized too late on the UI runtime
  packages/react-native-reanimated/src/layoutReanimation/animationsManager.ts
Labels: lib: Reanimated

#8016 chore: Bump macos-example to 0.78
  apps/macos-example/macos/Podfile.lock
  apps/macos-example/package.json
  yarn.lock
Labels: Check compatibility

#8014 fix: Make node marking as removable safer
  packages/react-native-reanimated/Common/cpp/reanimated/Fabric/updates/UpdatesRegistryManager.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/Fabric/updates/UpdatesRegistryManager.h
  packages/react-native-reanimated/Common/cpp/reanimated/NativeModules/ReanimatedModuleProxy.cpp
Labels: lib: Reanimated

#8020 Fix ProMotion
  packages/react-native-worklets/apple/worklets/apple/AnimationFrameQueue.mm
Labels: lib: Worklets

#8027 (cherry-pick) Fix ProMotion
  packages/react-native-worklets/apple/worklets/apple/AnimationFrameQueue.mm
Labels: lib: Worklets

#8035 fix: Invalid web LA keyframe processing when from/to offset is used
  packages/react-native-reanimated/src/layoutReanimation/web/config.ts
  packages/react-native-reanimated/src/layoutReanimation/web/createAnimation.ts
Labels: lib: Reanimated

#8022 fix: Failing CIs
  .github/workflows/docs-reanimated-build-check.yml
  .github/workflows/docs-reanimated-publish.yml
  .github/workflows/example-ios-build-check.yml
  .github/workflows/example-macos-build-check.yml
  .github/workflows/example-next-build-check-and-test.yml
  .github/workflows/example-tvos-build-check.yml
  .github/workflows/example-typescript-check-and-lint.yml
  .github/workflows/expo-devclient-build-check-nightly.yml
  .github/workflows/github-close-when-stale-nightly.yml
  .github/workflows/github-issue-platforms-check.yml
  .github/workflows/github-issue-repro-check.yml
  .github/workflows/github-issue-template-check.yml
  .github/workflows/github-pull-request-description-format.yml
  .github/workflows/github-pull-request-label-format.yml
  .github/workflows/react-native-nightly-reanimated-build-check-nightly.yml
  .github/workflows/reanimated-android-validation.yml
  .github/workflows/reanimated-apple-validation.yml
  .github/workflows/reanimated-compatibility-check-nightly.yml
  .github/workflows/use-frameworks-reanimated-build-check-nightly.yml
  .github/workflows/windows-hosted-app-reanimated-build-check-nightly.yml
  .github/workflows/yarn-validation.yml
  apps/web-example/README.md
  packages/react-native-reanimated/Common/cpp/reanimated/Tools/ReanimatedVersion.cpp
  packages/react-native-worklets/src/runtimes.ts
  packages/react-native-worklets/src/threads.ts
Labels: lib: Reanimated, lib: Worklets

#8039 Update migration docs about `@gorhom/bottom-sheet`
  packages/docs-reanimated/docs/guides/migration-from-3.x.md
Labels: lib: Reanimated

#8045 docs: Update compatibility tables in after releases
  packages/docs-reanimated/docs/guides/compatibility.mdx
  packages/docs-reanimated/versioned_docs/version-3.x/guides/compatibility.mdx
Labels: lib: Reanimated

#8042 feat: rename files which includes `Shareable` to `Serializable`
  apps/common-app/src/apps/reanimated/examples/CopySerializablePerformanceTest.tsx
  apps/common-app/src/apps/reanimated/examples/RuntimeTests/RuntimeTestsExample.tsx
  apps/common-app/src/apps/reanimated/examples/RuntimeTests/tests/serializable/createSerializable.test.tsx
  apps/common-app/src/apps/reanimated/examples/RuntimeTests/tests/serializable/isSerializableRef.test.tsx
  apps/common-app/src/apps/reanimated/examples/RuntimeTests/tests/serializable/makeShareableCloneOnUI.test.tsx
  apps/common-app/src/apps/reanimated/examples/SerializableFreezingExample.tsx
  apps/common-app/src/apps/reanimated/examples/index.ts
  packages/docs-worklets/docs/guides/troubleshooting.mdx
  packages/docs-worklets/src/components/DeprecatedBanner/index.tsx
  packages/react-native-reanimated/Common/cpp/reanimated/AnimatedSensor/AnimatedSensorModule.h
  packages/react-native-reanimated/Common/cpp/reanimated/LayoutAnimations/LayoutAnimationsManager.h
  packages/react-native-reanimated/Common/cpp/reanimated/NativeModules/ReanimatedModuleProxy.cpp
  packages/react-native-reanimated/src/hook/commonTypes.ts
  packages/react-native-reanimated/src/mock.ts
  packages/react-native-worklets/Common/cpp/worklets/AnimationFrameQueue/AnimationFrameBatchinator.cpp
  packages/react-native-worklets/Common/cpp/worklets/AnimationFrameQueue/AnimationFrameBatchinator.h
  packages/react-native-worklets/Common/cpp/worklets/NativeModules/JSIWorkletsModuleProxy.cpp
  packages/react-native-worklets/Common/cpp/worklets/NativeModules/JSIWorkletsModuleProxy.h
  packages/react-native-worklets/Common/cpp/worklets/NativeModules/WorkletsModuleProxy.cpp
  packages/react-native-worklets/Common/cpp/worklets/SharedItems/Serializable.cpp
  packages/react-native-worklets/Common/cpp/worklets/SharedItems/Serializable.h
  packages/react-native-worklets/Common/cpp/worklets/Tools/WorkletEventHandler.h
  packages/react-native-worklets/Common/cpp/worklets/WorkletRuntime/WorkletRuntime.h
  packages/react-native-worklets/Common/cpp/worklets/WorkletRuntime/WorkletRuntimeDecorator.cpp
  packages/react-native-worklets/src/WorkletsModule/JSWorklets.ts
  packages/react-native-worklets/src/WorkletsModule/NativeWorklets.ts
  packages/react-native-worklets/src/WorkletsModule/workletsModuleProxy.ts
  packages/react-native-worklets/src/deprecated.ts
  packages/react-native-worklets/src/index.ts
  packages/react-native-worklets/src/runtimes.ts
  packages/react-native-worklets/src/serializable.ts
  packages/react-native-worklets/src/serializableMappingCache.ts
  packages/react-native-worklets/src/threads.ts
Labels: lib: Reanimated, lib: Worklets

#8043 feat: `Serializable` docs
  packages/docs-worklets/docs/fundamentals/glossary.mdx
  packages/docs-worklets/docs/memory/createSerializabe.mdx
  packages/docs-worklets/docs/memory/isSerializableRef.mdx
  packages/docs-worklets/docs/memory/makeShareable.mdx
  packages/docs-worklets/docs/memory/makeShareableCloneOnUIRecursive.mdx
  packages/docs-worklets/docs/memory/makeShareableCloneRecursive.mdx
  packages/docs-worklets/docs/threading/createWorkletRuntime.mdx
  packages/docs-worklets/docs/threading/executeOnUIRuntimeSync.mdx
  packages/docs-worklets/docs/threading/runOnJS.mdx
  packages/docs-worklets/docs/threading/runOnRuntime.mdx
  packages/docs-worklets/docs/threading/runOnUI.mdx
  packages/docs-worklets/docs/threading/runOnUIAsync.mdx
  packages/docs-worklets/src/components/PlatformCompatibility/index.tsx
  packages/docs-worklets/src/theme/MDXComponents.js
  packages/docs-worklets/static/img/serializable.png
Labels: lib: Worklets

#8052 fix: Improve animated ref value type
  packages/react-native-reanimated/__typetests__/common/useAnimatedRefTest.tsx
  packages/react-native-reanimated/package.json
  packages/react-native-reanimated/src/ReanimatedModule/NativeReanimated.ts
  packages/react-native-reanimated/src/ReanimatedModule/js-reanimated/JSReanimated.ts
  packages/react-native-reanimated/src/ReanimatedModule/reanimatedModuleProxy.ts
  packages/react-native-reanimated/src/commonTypes.ts
  packages/react-native-reanimated/src/core.ts
  packages/react-native-reanimated/src/createAnimatedComponent/commonTypes.ts
  packages/react-native-reanimated/src/css/component/AnimatedComponent.tsx
  packages/react-native-reanimated/src/fabricUtils.ts
  packages/react-native-reanimated/src/hook/commonTypes.ts
  packages/react-native-reanimated/src/hook/useAnimatedRef.ts
  packages/react-native-reanimated/src/hook/useScrollOffset.ts
  packages/react-native-reanimated/src/platform-specific/findHostInstance.ts
  packages/react-native-reanimated/src/platformFunctions/dispatchCommand.ts
  packages/react-native-reanimated/src/platformFunctions/getRelativeCoords.ts
  packages/react-native-reanimated/src/platformFunctions/measure.ts
  packages/react-native-reanimated/src/platformFunctions/measure.web.ts
  packages/react-native-reanimated/src/platformFunctions/scrollTo.ts
  packages/react-native-reanimated/src/platformFunctions/scrollTo.web.ts
  packages/react-native-reanimated/src/platformFunctions/setNativeProps.ts
  packages/react-native-reanimated/src/platformFunctions/setNativeProps.web.ts
  yarn.lock
Labels: lib: Reanimated

#8062 chore: Clean up obtaining node from wrapper ref
  packages/react-native-reanimated/src/fabricUtils.ts
  packages/react-native-reanimated/src/hook/useScrollOffset.ts
Labels: lib: Reanimated

#7641 feat(Worklets): replace `_WORKLET` with `getRuntimeKind` and `__RUNTIME_KIND`
  packages/react-native-reanimated/src/animation/util.ts
  packages/react-native-reanimated/src/common/errors.ts
  packages/react-native-reanimated/src/platformFunctions/dispatchCommand.ts
  packages/react-native-reanimated/src/platformFunctions/measure.ts
  packages/react-native-reanimated/src/platformFunctions/setGestureState.ts
  packages/react-native-reanimated/src/platformFunctions/setNativeProps.ts
  packages/react-native-worklets/Common/cpp/worklets/WorkletRuntime/RNRuntimeWorkletDecorator.cpp
  packages/react-native-worklets/Common/cpp/worklets/WorkletRuntime/RuntimeKind.h
  packages/react-native-worklets/Common/cpp/worklets/WorkletRuntime/UIRuntimeDecorator.cpp
  packages/react-native-worklets/Common/cpp/worklets/WorkletRuntime/WorkletRuntimeDecorator.cpp
  packages/react-native-worklets/src/PlatformChecker/index.ts
  packages/react-native-worklets/src/WorkletsError.ts
  packages/react-native-worklets/src/WorkletsModule/NativeWorklets.ts
  packages/react-native-worklets/src/index.ts
  packages/react-native-worklets/src/initializers.ts
  packages/react-native-worklets/src/privateGlobals.d.ts
  packages/react-native-worklets/src/publicGlobals.ts
  packages/react-native-worklets/src/runtimeKind.ts
  packages/react-native-worklets/src/runtimes.ts
  packages/react-native-worklets/src/specs/index.ts
  packages/react-native-worklets/src/threads.ts
  packages/react-native-worklets/src/workletRuntimeEntry.ts
Labels: lib: Reanimated, lib: Worklets

#8051 docs(Worklets): getRuntimeKind
  packages/docs-worklets/docs/fundamentals/glossary.mdx
  packages/docs-worklets/docs/fundamentals/runtimeKinds.mdx
  packages/docs-worklets/docs/threading/callMicrotasks.mdx
  packages/docs-worklets/docs/threading/getRuntimeKind.mdx
  packages/docs-worklets/docusaurus.config.js
  packages/docs-worklets/yarn.lock
Labels: lib: Worklets

#8061 chore: Replace deprecated code by non-deprecated equivalents
  apps/common-app/src/apps/css/components/inputs/TabSelector.tsx
  apps/common-app/src/apps/css/components/misc/ConfigSelector.tsx
  apps/common-app/src/apps/css/examples/animations/screens/animatedProperties/svg/index.ts
  apps/common-app/src/apps/css/navigation/BottomTabBar.tsx
  apps/common-app/src/apps/reanimated/examples/CircularSliderExample.tsx
  apps/common-app/src/apps/reanimated/examples/LayoutAnimations/ViewRecyclingExample.tsx
  apps/common-app/src/apps/reanimated/examples/LightBoxExample.tsx
  apps/common-app/src/apps/reanimated/examples/LogExample.tsx
  apps/common-app/src/apps/reanimated/examples/MeasureExample.tsx
  apps/common-app/src/apps/reanimated/examples/ModifyExample.tsx
  apps/common-app/src/apps/reanimated/examples/RunOnUIAsyncExample.tsx
  apps/common-app/src/apps/reanimated/examples/RuntimeTests/ReJest/TestRunner/NotificationRegistry.ts
  apps/common-app/src/apps/reanimated/examples/RuntimeTests/ReJest/TestRunner/TestRunner.ts
  apps/common-app/src/apps/reanimated/examples/RuntimeTests/ReJest/types.ts
  apps/common-app/src/apps/reanimated/examples/RuntimeTests/ReJest/utils/SyncUIRunner.ts
  apps/common-app/src/apps/reanimated/examples/RuntimeTests/tests/TestsOfTestingFramework.test.tsx
  apps/common-app/src/apps/reanimated/examples/RuntimeTests/tests/core/onLayout.test.tsx
  apps/common-app/src/apps/reanimated/examples/RuntimeTests/tests/plugin/contextObjects.test.tsx
  apps/common-app/src/apps/reanimated/examples/RuntimeTests/tests/plugin/fileWorkletization.test.tsx
  apps/common-app/src/apps/reanimated/examples/RuntimeTests/tests/plugin/recursion.test.tsx
  apps/common-app/src/apps/reanimated/examples/RuntimeTests/tests/plugin/workletClasses.test.tsx
  apps/common-app/src/apps/reanimated/examples/RuntimeTests/tests/runLoop/cancelAnimationFrame.test.tsx
  apps/common-app/src/apps/reanimated/examples/RuntimeTests/tests/runLoop/clearImmediatePolyfill.test.tsx
  apps/common-app/src/apps/reanimated/examples/RuntimeTests/tests/runLoop/clearIntervalPolyfill.test.tsx
  apps/common-app/src/apps/reanimated/examples/RuntimeTests/tests/runLoop/clearTimeoutPolyfill.test.tsx
  apps/common-app/src/apps/reanimated/examples/RuntimeTests/tests/runLoop/requestAnimationFrame.test.tsx
  apps/common-app/src/apps/reanimated/examples/RuntimeTests/tests/runLoop/setImmediatePolyfill.test.tsx
  apps/common-app/src/apps/reanimated/examples/RuntimeTests/tests/runLoop/setIntervalPolyfill.test.tsx
  apps/common-app/src/apps/reanimated/examples/RuntimeTests/tests/runLoop/setTimeoutPolyfill.test.tsx
  apps/common-app/src/apps/reanimated/examples/RuntimeTests/tests/serializable/createSerializable.test.tsx
  apps/common-app/src/apps/reanimated/examples/RuntimeTests/tests/utilities/relativeCoords.test.tsx
  apps/common-app/src/apps/reanimated/examples/ScrollToExample.tsx
  apps/common-app/src/apps/reanimated/examples/SetNativePropsExample.tsx
  apps/common-app/src/apps/reanimated/examples/SwipeableListExample.tsx
  apps/common-app/src/apps/reanimated/examples/WorkletExample.tsx
  apps/common-app/src/apps/reanimated/examples/WorkletRuntimeExample.tsx
  packages/react-native-reanimated/__tests__/matrixUtils.test.tsx
  packages/react-native-reanimated/src/component/FlatList.tsx
  packages/react-native-reanimated/src/core.ts
  packages/react-native-reanimated/src/createAnimatedComponent/commonTypes.ts
  packages/react-native-reanimated/src/hook/commonTypes.ts
  packages/react-native-reanimated/src/hook/useAnimatedStyle.ts
  packages/react-native-reanimated/src/updateProps/updateProps.ts
Labels: lib: Reanimated

#8066 chore: CSS 3D transform matrix improvements
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/common/TransformMatrix.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/common/TransformMatrix.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/common/TransformMatrix3D.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/common/TransformMatrix3D.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/common/definitions.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/config/interpolators/base/common.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/interpolation/InterpolatorFactory.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/interpolation/transforms/TransformOperation.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/interpolation/transforms/TransformOperation.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/interpolation/transforms/TransformOperationInterpolator.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/interpolation/transforms/TransformOperationInterpolator.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/interpolation/transforms/TransformsStyleInterpolator.cpp
Labels: lib: Reanimated

#8078 Fix typo in the property name
  packages/docs-reanimated/src/components/InteractivePlayground/useSpringPlayground/index.tsx
Labels: lib: Reanimated

#8105 fix: nightly RN version compatibility build
  .github/workflows/reanimated-typescript-compatibility-test-nightly.yml
  packages/react-native-reanimated/package.json
Labels: lib: Reanimated

#8103 fix: only add flag if REANIMATED_PROFILING is set to true
  packages/react-native-reanimated/android/CMakeLists.txt
Labels: lib: Reanimated

#8093 Fix "Cannot read property '__nativeTag' of null"
  packages/react-native-reanimated/src/createAnimatedComponent/NativeEventsManager.ts
Labels: lib: Reanimated

#8107 fix(Worklets): file name typo
  packages/docs-worklets/docs/memory/createSerializable.mdx
Labels: lib: Worklets

#8106 fix: CSS transition crashes on complex prop animation
  apps/common-app/src/apps/css/examples/transitions/screens/testExamples/Playground.tsx
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/interpolation/groups/ArrayPropertiesInterpolator.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/interpolation/groups/RecordPropertiesInterpolator.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/interpolation/styles/TransitionStyleInterpolator.cpp
Labels: lib: Reanimated

#8119 docs: change default value in static feature flags sections
  packages/docs-reanimated/docs/guides/feature-flags.md
  packages/docs-worklets/docs/guides/feature-flags.md
  packages/docs-worklets/yarn.lock
Labels: lib: Reanimated, lib: Worklets

#8082 feat: 2D transform matrix
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/common/TransformMatrix.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/common/TransformMatrix2D.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/common/TransformMatrix2D.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/common/TransformMatrix3D.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/common/TransformMatrix3D.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/common/definitions.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/common/vectors.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/common/vectors.h
Labels: lib: Reanimated

#8116 fix: Throw error when CSS is used on unsupported components
  packages/react-native-reanimated/src/css/native/__tests__/registry.test.ts
  packages/react-native-reanimated/src/css/native/keyframes/__tests__/CSSKeyframesRegistry.test.ts
  packages/react-native-reanimated/src/css/native/managers/CSSManager.ts
  packages/react-native-reanimated/src/css/native/managers/__tests__/CSSAnimationsManager.test.ts
  packages/react-native-reanimated/src/css/native/normalization/animation/__tests__/animationName.test.ts
  packages/react-native-reanimated/src/css/native/registry.ts
Labels: lib: Reanimated

#8120 [ios][worklets] add explicit dependency on React-hermes
  packages/react-native-worklets/RNWorklets.podspec
Labels: lib: Worklets

#8096 feat: get static feature flags in JS
  apps/common-app/src/apps/reanimated/examples/RuntimeTests/RuntimeTestsExample.tsx
  apps/common-app/src/apps/reanimated/examples/RuntimeTests/tests/advancedAPI/staticFeatureFlags.test.tsx
  apps/common-app/src/apps/reanimated/examples/RuntimeTests/tests/advancedAPI/useFrameCallback.test.tsx
  apps/fabric-example/ios/Podfile.lock
  apps/fabric-example/package.json
  apps/macos-example/package.json
  apps/tvos-example/ios/Podfile.lock
  apps/tvos-example/package.json
  packages/docs-reanimated/docs/guides/feature-flags.md
  packages/docs-worklets/docs/guides/feature-flags.md
  packages/react-native-reanimated/Common/cpp/reanimated/NativeModules/ReanimatedModuleProxy.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/NativeModules/ReanimatedModuleProxy.h
  packages/react-native-reanimated/Common/cpp/reanimated/NativeModules/ReanimatedModuleProxySpec.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/NativeModules/ReanimatedModuleProxySpec.h
  packages/react-native-reanimated/Common/cpp/reanimated/Tools/FeatureFlags.h
  packages/react-native-reanimated/__typetests__/common/FeatureFlagTest.tsx
  packages/react-native-reanimated/src/ReanimatedModule/NativeReanimated.ts
  packages/react-native-reanimated/src/ReanimatedModule/js-reanimated/JSReanimated.ts
  packages/react-native-reanimated/src/ReanimatedModule/reanimatedModuleProxy.ts
  packages/react-native-reanimated/src/featureFlags/index.ts
  packages/react-native-reanimated/src/featureFlags/staticFlags.json
  packages/react-native-reanimated/src/index.ts
  packages/react-native-reanimated/src/mutables.ts
  packages/react-native-worklets/Common/cpp/worklets/NativeModules/JSIWorkletsModuleProxy.cpp
  packages/react-native-worklets/Common/cpp/worklets/Tools/FeatureFlags.h
  packages/react-native-worklets/__typetests__/FeatureFlagTest.tsx
  packages/react-native-worklets/src/WorkletsModule/JSWorklets.ts
  packages/react-native-worklets/src/WorkletsModule/NativeWorklets.ts
  packages/react-native-worklets/src/WorkletsModule/workletsModuleProxy.ts
  packages/react-native-worklets/src/featureFlags/index.ts
  packages/react-native-worklets/src/featureFlags/staticFlags.json
  packages/react-native-worklets/src/index.ts
Labels: lib: Reanimated, lib: Worklets

#8094 chore: Move transform operations to separate files
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/configs/interpolators/base/common.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/interpolation/InterpolatorFactory.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/interpolation/transforms/TransformInterpolator.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/interpolation/transforms/TransformOperation.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/interpolation/transforms/TransformOperation.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/interpolation/transforms/TransformOperationInterpolator.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/interpolation/transforms/TransformsStyleInterpolator.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/interpolation/transforms/operations/TransformOperation.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/interpolation/transforms/operations/TransformOperation.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/interpolation/transforms/operations/matrix.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/interpolation/transforms/operations/matrix.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/interpolation/transforms/operations/perspective.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/interpolation/transforms/operations/perspective.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/interpolation/transforms/operations/rotate.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/interpolation/transforms/operations/rotate.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/interpolation/transforms/operations/scale.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/interpolation/transforms/operations/scale.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/interpolation/transforms/operations/skew.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/interpolation/transforms/operations/skew.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/interpolation/transforms/operations/translate.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/interpolation/transforms/operations/translate.h
Labels: lib: Reanimated

#8123 docs: move `EXPERIMENTAL_MUTABLE_OPTIMIZATION` feature flag description
  packages/docs-reanimated/docs/guides/feature-flags.md
  packages/docs-worklets/docs/guides/feature-flags.md
Labels: lib: Reanimated, lib: Worklets

#8121 fix: web-example building in monorepo
  apps/web-example/metro.config.js
  apps/web-example/package.json
  packages/react-native-reanimated/package.json
  yarn.lock
Labels: lib: Reanimated

#8130 Fix static feature flags resolution on iOS
  packages/react-native-worklets/RNWorklets.podspec
  packages/react-native-worklets/scripts/worklets_utils.rb
Labels: lib: Worklets

#8110 chore: update version compatibility checking between reanimated and worklets
  packages/react-native-reanimated/compatibility.json
  packages/react-native-reanimated/scripts/validate-worklets-version.js
Labels: lib: Reanimated

#7742 Fix race-condition during component initialization
  packages/react-native-reanimated/src/ViewDescriptorsSet.ts
  packages/react-native-reanimated/src/commonTypes.ts
  packages/react-native-reanimated/src/createAnimatedComponent/AnimatedComponent.tsx
  packages/react-native-reanimated/src/createAnimatedComponent/commonTypes.ts
  packages/react-native-reanimated/src/hook/commonTypes.ts
  packages/react-native-reanimated/src/hook/useAnimatedStyle.ts
Labels: lib: Reanimated

#8146 Fix worklets version checking in runtime
  packages/react-native-reanimated/scripts/validate-worklets-build.js
  packages/react-native-reanimated/scripts/validate-worklets-version.js
  packages/react-native-reanimated/src/platform-specific/workletsVersion.ts
Labels: lib: Reanimated

#8139 feat(Worklets): update `getting-started` docs page
  packages/docs-worklets/docs/fundamentals/getting-started.mdx
  packages/docs-worklets/docs/worklets-babel-plugin/_category_.json
  packages/docs-worklets/docs/worklets-babel-plugin/about.md
  packages/docs-worklets/docs/worklets-babel-plugin/options.md
Labels: lib: Worklets

#8068 chore(Worklets): common compatibility source for docs and CI
  packages/docs-reanimated/src/components/Compatibility/index.tsx
  packages/docs-worklets/docs/guides/compatibility.mdx
  packages/docs-worklets/src/components/Compatibility/index.tsx
  packages/docs-worklets/src/theme/MDXComponents.js
  packages/react-native-reanimated/android/build.gradle
  packages/react-native-worklets/android/build.gradle
  packages/react-native-worklets/compatibility.json
  packages/react-native-worklets/package.json
  packages/react-native-worklets/scripts/validate-react-native-version.js
  packages/react-native-worklets/scripts/worklets_utils.rb
  scripts/version-utils.js
  yarn.lock
Labels: lib: Reanimated, lib: Worklets

#8155 Use legacy_makeMutableUI in animation manager
  packages/react-native-reanimated/src/layoutReanimation/animationsManager.ts
  packages/react-native-reanimated/src/mutables.ts
Labels: lib: Reanimated

#8141 chore(Worklets): docs improvements
  packages/docs-worklets/docusaurus.config.js
  packages/docs-worklets/src/components/HomepageAboutSection/index.tsx
  packages/docs-worklets/src/components/HomepageAboutSection/styles.module.css
  packages/docs-worklets/src/components/HomepageFooter/index.tsx
  packages/docs-worklets/src/components/HomepageFooter/styles.module.css
  packages/docs-worklets/src/components/HomepageMainSection/index.tsx
  packages/docs-worklets/src/components/HomepageTryOutSection/index.tsx
  packages/docs-worklets/src/components/HomepageUseCasesSection/UseCase/index.tsx
  packages/docs-worklets/src/components/HomepageUseCasesSection/UseCase/styles.module.css
  packages/docs-worklets/src/components/HomepageUseCasesSection/index.tsx
  packages/docs-worklets/src/components/HomepageUseCasesSection/styles.module.css
  packages/docs-worklets/src/pages/index.tsx
  packages/docs-worklets/src/pages/styles.module.css
  packages/docs-worklets/static/img/favicon.ico
  packages/docs-worklets/static/img/og-image.png
  packages/docs-worklets/static/img/phone.svg
  packages/docs-worklets/static/img/phone_texture.png
  packages/docs-worklets/static/recordings/gest.mp4
  packages/docs-worklets/unproccessed/og-image.png
Labels: lib: Worklets

#8122 feat(Reanimated): mutable - reset dirty flag on each read
  packages/react-native-reanimated/src/commonTypes.ts
  packages/react-native-reanimated/src/mutables.ts
Labels: lib: Reanimated

#8158 chore(Worklets): temporary API for audio api integration
  packages/react-native-worklets/src/index.ts
  packages/react-native-worklets/src/threads.ts
Labels: lib: Worklets

#8162 fix: Stop passing unfiltered props to the rendered component
  packages/react-native-reanimated/__tests__/__snapshots__/animatedProps.test.tsx.snap
  packages/react-native-reanimated/src/css/component/AnimatedComponent.tsx
Labels: lib: Reanimated

#8163 fix: Default boxShadow color value
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/configs/interpolators/base/view.h
Labels: lib: Reanimated

#8169 chore(Worklets): add missing tvos detection
  packages/react-native-worklets/scripts/worklets_utils.rb
Labels: lib: Worklets

#8172 chore: prerelease compat bump
  packages/docs-reanimated/docs/guides/compatibility.mdx
  packages/react-native-reanimated/compatibility.json
  packages/react-native-worklets/compatibility.json
Labels: lib: Reanimated, lib: Worklets

#8165 chore: Pass interpolator config via helper struct
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/configs/interpolators/base/common.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/configs/interpolators/base/view.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/interpolation/InterpolatorFactory.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/interpolation/configs.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/interpolation/transforms/TransformOperationInterpolator.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/interpolation/values/ResolvableValueInterpolator.h
Labels: lib: Reanimated
