Repository software-mansion/react-native-reanimated, pull requests merged in 2025-09, with the labels that each got.

#8184 fix(Worklets): Adjust phone mockup padding on mobile devices
  packages/docs-worklets/src/components/HomepageUseCasesSection/UseCase/styles.module.css
Labels: lib: Worklets

#8189 fix(docs-worklets): Remove duplicated page title
  packages/docs-worklets/src/css/overrides.css
  packages/docs-worklets/src/pages/index.tsx
Labels: lib: Worklets

#8177 fix: Implement correct CSS boxShadow interpolation
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/common/values/CSSValue.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/common/values/CSSValueVariant.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/common/values/complex/CSSBoxShadow.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/common/values/complex/CSSBoxShadow.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/configs/interpolators/base/view.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/core/CSSAnimation.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/core/CSSAnimation.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/core/CSSTransition.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/core/CSSTransition.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/interpolation/PropertyInterpolator.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/interpolation/groups/GroupPropertiesInterpolator.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/interpolation/groups/GroupPropertiesInterpolator.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/interpolation/styles/TransitionStyleInterpolator.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/interpolation/styles/TransitionStyleInterpolator.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/interpolation/transforms/TransformOperationInterpolator.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/interpolation/transforms/TransformsStyleInterpolator.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/interpolation/transforms/TransformsStyleInterpolator.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/interpolation/values/ResolvableValueInterpolator.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/interpolation/values/ValueInterpolator.h
  packages/react-native-reanimated/src/css/native/normalization/animation/keyframes.ts
  packages/react-native-reanimated/src/css/native/registry.ts
  packages/react-native-reanimated/src/css/native/style/createStyleBuilder.ts
  packages/react-native-reanimated/src/css/native/style/types.ts
Labels: lib: Reanimated

#8202 docs: fix measure in documentation
  packages/docs-reanimated/package.json
  packages/docs-reanimated/src/components/Hero/SelectedLabel/SelectionBox/index.tsx
  packages/docs-reanimated/src/components/Hero/SelectedLabel/index.tsx
  packages/docs-reanimated/src/components/InteractivePlayground/PlaygroundChart/PlaygroundChartPoint/index.tsx
  packages/docs-reanimated/src/components/InteractivePlayground/PlaygroundChart/index.tsx
  packages/docs-reanimated/yarn.lock
  packages/docs-worklets/package.json
  packages/docs-worklets/yarn.lock
Labels: lib: Reanimated, lib: Worklets

#8206 feat(Worklets): Add a promotional video about `worklets` to docs
  packages/docs-worklets/src/components/HomepageAboutSection/index.tsx
  packages/docs-worklets/src/components/HomepageAboutSection/styles.module.css
  packages/docs-worklets/src/components/HomepageUseCasesSection/UseCase/styles.module.css
Labels: lib: Worklets

#8207 docs: Adjust dark mode styles across docs
  packages/docs-reanimated/src/components/InteractivePlayground/index.tsx
  packages/docs-reanimated/src/css/overrides.css
  packages/docs-reanimated/src/examples/AnimatedScrollHandler.tsx
  packages/docs-reanimated/src/hooks/useThemedTextStyle.ts
  packages/docs-reanimated/static/examples/BottomSheet.js
  packages/docs-reanimated/static/examples/SectionList.js
  packages/docs-reanimated/static/examples/Slider.js
  packages/docs-worklets/src/hooks/useThemedTextStyle.ts
Labels: lib: Reanimated, lib: Worklets

#8218 release(Worklets): 0.5.1
  apps/fabric-example/ios/Podfile.lock
  apps/tvos-example/ios/Podfile.lock
  packages/react-native-worklets/package.json
  packages/react-native-worklets/src/utils/jsVersion.ts
Labels: lib: Worklets

#7665 [SET] Merge parent transforms
  apps/common-app/src/apps/reanimated/examples/SharedElementTransitions/Card.tsx
  apps/common-app/src/apps/reanimated/examples/SharedElementTransitions/Modals.tsx
  apps/common-app/src/apps/reanimated/examples/SharedElementTransitions/Profiles.tsx
  packages/react-native-reanimated/Common/cpp/reanimated/LayoutAnimations/LayoutAnimationsProxy.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/LayoutAnimations/LayoutAnimationsProxy.h
  packages/react-native-reanimated/Common/cpp/reanimated/LayoutAnimations/PropsDiffer.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/LayoutAnimations/PropsDiffer.h
  packages/react-native-reanimated/Common/cpp/reanimated/NativeModules/ReanimatedModuleProxy.cpp
Labels: lib: Reanimated

#8255 chore: Move CSSValue construction from CSSValueVariant to interpolator factory
  apps/fabric-example/ios/Podfile.lock
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/common/values/CSSValueVariant.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/common/values/CSSValueVariant.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/interpolation/InterpolatorFactory.h
Labels: lib: Reanimated

#8258 chore: Move interpolator configs to a single implementation file
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/InterpolatorRegistry.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/InterpolatorRegistry.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/configs/interpolators/base/common.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/configs/interpolators/base/common.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/configs/interpolators/base/image.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/configs/interpolators/base/image.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/configs/interpolators/base/text.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/configs/interpolators/base/text.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/configs/interpolators/base/view.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/configs/interpolators/base/view.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/configs/interpolators/constants.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/configs/interpolators/constants.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/configs/interpolators/registry.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/configs/interpolators/utils.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/interpolation/styles/AnimationStyleInterpolator.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/interpolation/styles/TransitionStyleInterpolator.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/svg/configs/init.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/svg/configs/init.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/svg/configs/interpolators/circle.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/svg/configs/interpolators/circle.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/svg/configs/interpolators/common.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/svg/configs/interpolators/common.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/svg/configs/interpolators/ellipse.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/svg/configs/interpolators/ellipse.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/svg/configs/interpolators/line.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/svg/configs/interpolators/line.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/svg/configs/interpolators/path.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/svg/configs/interpolators/path.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/svg/configs/interpolators/rect.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/svg/configs/interpolators/rect.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/utils/props.h
  packages/react-native-reanimated/Common/cpp/reanimated/Fabric/updates/UpdatesRegistryManager.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/Fabric/updates/UpdatesRegistryManager.h
  packages/react-native-reanimated/Common/cpp/reanimated/NativeModules/ReanimatedModuleProxy.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/NativeModules/ReanimatedModuleProxy.h
Labels: lib: Reanimated

#8083 [LA] Add check if view is mounted on Android
  packages/react-native-reanimated/Common/cpp/reanimated/LayoutAnimations/LayoutAnimationsProxy.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/LayoutAnimations/LayoutAnimationsProxy.h
  packages/react-native-reanimated/Common/cpp/reanimated/NativeModules/ReanimatedModuleProxy.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/NativeModules/ReanimatedModuleProxy.h
  packages/react-native-reanimated/Common/cpp/reanimated/Tools/PlatformDepMethodsHolder.h
  packages/react-native-reanimated/android/src/main/cpp/reanimated/android/NativeProxy.cpp
  packages/react-native-reanimated/android/src/main/cpp/reanimated/android/NativeProxy.h
  packages/react-native-reanimated/android/src/main/java/com/swmansion/reanimated/NativeProxy.java
Labels: lib: Reanimated

#8247 (cherry-pick) fix: Initialize logger before all other things
  packages/react-native-reanimated/src/index.ts
  packages/react-native-reanimated/src/initializers.ts
Labels: lib: Reanimated

#8241 fix: no Babel plugin support
  packages/docs-reanimated/docs/guides/web-support.mdx
  packages/react-native-worklets/src/initializers.ts
Labels: lib: Reanimated, lib: Worklets

#8221 feat: add support for DynamicColorIOS
  apps/common-app/src/apps/reanimated/examples/DynamicColorIOSExample.tsx
  apps/common-app/src/apps/reanimated/examples/index.ts
  packages/react-native-reanimated/__tests__/__snapshots__/dynamicColorIOS.test.tsx.snap
  packages/react-native-reanimated/__tests__/dynamicColorIOS.test.tsx
  packages/react-native-reanimated/src/Colors.ts
  packages/react-native-reanimated/src/common/processors/colors.ts
  packages/react-native-reanimated/src/index.ts
Labels: lib: Reanimated

#8279 fix: DynamicColorIOS bug
  apps/common-app/src/apps/reanimated/examples/DynamicColorIOSExample.tsx
  packages/react-native-reanimated/src/common/processors/colors.ts
Labels: lib: Reanimated

#7451 chore: use automatic jsx runtime and bump react-native-builder-bob
  .yarn/patches/react-native-builder-bob-npm-0.33.1-383d9e23a5.patch
  packages/react-native-reanimated/package.json
  packages/react-native-worklets/babel.config.js
  packages/react-native-worklets/package.json
  yarn.lock
Labels: lib: Reanimated, lib: Worklets

#8290 chore: don't install Bundle Mode patches by default
  apps/common-app/package.json
  apps/fabric-example/package.json
  apps/macos-example/package.json
  apps/web-example/package.json
  package.json
  packages/react-native-reanimated/package.json
  packages/react-native-worklets/package.json
  scripts/patches/bundle-mode.patch
  scripts/toggle-bundle-mode.sh
  yarn.lock
Labels: lib: Reanimated, lib: Worklets

#8300 chore(Worklets): fix PlatformChecker init
  packages/react-native-worklets/src/PlatformChecker/index.ts
  packages/react-native-worklets/src/threads.ts
Labels: lib: Worklets
