Repository software-mansion/react-native-reanimated, pull requests merged in 2025-07, with the labels that each got.

#7836 fix(Worklets): default imports in Bundle Mode
  packages/react-native-worklets/plugin/index.js
  packages/react-native-worklets/plugin/src/class.ts
  packages/react-native-worklets/plugin/src/closure.ts
  packages/react-native-worklets/plugin/src/generate.ts
  packages/react-native-worklets/plugin/src/workletFactory.ts
Labels: Worklets - Bundle Mode

#7885 Update getting-started.mdx with the right installation command for re…
  packages/docs-reanimated/docs/fundamentals/getting-started.mdx
Labels: lib: Reanimated

#7736 feat: Support for separate CSS interpolators for different components
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/config/CSSKeyframesConfig.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/config/CSSKeyframesConfig.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/config/PropertyInterpolatorsConfig.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/config/interpolators/base/common.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/config/interpolators/base/image.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/config/interpolators/base/text.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/config/interpolators/base/view.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/config/interpolators/constants.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/config/interpolators/registry.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/config/interpolators/registry.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/config/interpolators/utils.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/core/CSSAnimation.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/core/CSSAnimation.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/core/CSSTransition.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/core/CSSTransition.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/interpolation/styles/AnimationStyleInterpolator.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/interpolation/styles/TransitionStyleInterpolator.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/interpolation/styles/TransitionStyleInterpolator.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/registry/CSSKeyframesRegistry.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/registry/CSSKeyframesRegistry.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/util/props.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/util/props.h
  packages/react-native-reanimated/Common/cpp/reanimated/Fabric/updates/UpdatesRegistryManager.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/Fabric/updates/UpdatesRegistryManager.h
  packages/react-native-reanimated/Common/cpp/reanimated/NativeModules/ReanimatedModuleProxy.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/NativeModules/ReanimatedModuleProxy.h
Labels: lib: Reanimated

#7780 chore: cleanup `docs-reanimated`
  packages/docs-reanimated/docs/advanced/measure.mdx
  packages/docs-reanimated/docs/fundamentals/glossary.mdx
  packages/docs-reanimated/docs/guides/worklets.mdx
  packages/docs-reanimated/docs/threading/_category_.json
  packages/docs-reanimated/docs/threading/createWorkletRuntime.mdx
  packages/docs-reanimated/docs/threading/runOnJS.mdx
  packages/docs-reanimated/docs/threading/runOnRuntime.mdx
  packages/docs-reanimated/docs/threading/runOnUI.mdx
  packages/docs-reanimated/versioned_docs/version-3.x/advanced/measure.mdx
  packages/docs-reanimated/versioned_docs/version-3.x/fundamentals/glossary.mdx
  packages/docs-reanimated/versioned_docs/version-3.x/guides/worklets.mdx
  packages/docs-reanimated/versioned_docs/version-3.x/threading/createWorkletRuntime.mdx
  packages/docs-reanimated/versioned_docs/version-3.x/threading/runOnRuntime.mdx
  packages/react-native-worklets/scripts/set-worklets-version.js
Labels: lib: Reanimated, lib: Worklets

#7868 chore: bump Reanimated and Worklets in docs
  packages/docs-reanimated/docusaurus.config.js
  packages/docs-reanimated/package.json
  packages/docs-reanimated/src/examples/AnimatedGestureHandler.tsx
  packages/docs-reanimated/versioned_docs/version-3.x/utilities/useAnimatedGestureHandler.mdx
  packages/docs-reanimated/yarn.lock
  packages/docs-worklets/docusaurus.config.js
  packages/docs-worklets/package.json
  packages/docs-worklets/yarn.lock
Labels: lib: Reanimated, lib: Worklets

#7893 Remove native view export
  packages/react-native-reanimated/src/jestUtils.ts
  packages/react-native-reanimated/src/specs/ReanimatedNativeComponent.ts
  packages/react-native-reanimated/src/specs/ReanimatedViewProvider.native.ts
  packages/react-native-reanimated/src/specs/ReanimatedViewProvider.ts
  packages/react-native-reanimated/src/specs/index.ts
Labels: lib: Reanimated

#7898 Remove Native View
  apps/fabric-example/ios/Podfile.lock
  packages/react-native-reanimated/Common/NativeView/CMakeLists.txt
  packages/react-native-reanimated/Common/NativeView/react/renderer/components/rnreanimated/ComponentDescriptors.h
  packages/react-native-reanimated/Common/NativeView/react/renderer/components/rnreanimated/ReanimatedShadowNode.cpp
  packages/react-native-reanimated/Common/NativeView/react/renderer/components/rnreanimated/ReanimatedShadowNode.h
  packages/react-native-reanimated/Common/NativeView/react/renderer/components/rnreanimated/ReanimatedViewState.h
  packages/react-native-reanimated/RNReanimated.podspec
  packages/react-native-reanimated/android/src/main/java/com/swmansion/reanimated/ReanimatedPackage.java
  packages/react-native-reanimated/android/src/main/java/com/swmansion/reanimated/view/ReanimatedView.java
  packages/react-native-reanimated/android/src/main/java/com/swmansion/reanimated/view/ReanimatedViewManager.java
  packages/react-native-reanimated/apple/reanimated/apple/view/ReanimatedView.h
  packages/react-native-reanimated/apple/reanimated/apple/view/ReanimatedView.mm
  packages/react-native-reanimated/package.json
  packages/react-native-reanimated/react-native.config.js
Labels: lib: Reanimated

#7900 fix(Worklets): _$$_IMPORT_ALL identifier clash in some web setups
  packages/react-native-worklets/src/initializers.ts
Labels: lib: Worklets

#7862 chore: refactor version checking for reanimated and worklets
  packages/react-native-reanimated/Common/cpp/reanimated/Tools/ReanimatedVersion.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/Tools/ReanimatedVersion.h
  packages/react-native-reanimated/scripts/set-reanimated-version.js
  packages/react-native-worklets/Common/cpp/worklets/Tools/VersionUtils.cpp
  packages/react-native-worklets/Common/cpp/worklets/Tools/VersionUtils.h
  packages/react-native-worklets/Common/cpp/worklets/Tools/WorkletsVersion.cpp
  packages/react-native-worklets/Common/cpp/worklets/Tools/WorkletsVersion.h
  packages/react-native-worklets/scripts/set-worklets-version.js
  scripts/version-utils.js
Labels: lib: Reanimated, lib: Worklets

#7907 chore(Reanimated): bump version in monorepo
  packages/react-native-reanimated/package.json
  packages/react-native-reanimated/src/platform-specific/jsVersion.ts
Labels: lib: Reanimated

#7910 chore: Remove deprecated types from library and examples
  apps/common-app/src/apps/reanimated/examples/AnimatedTabBarExample.tsx
  apps/common-app/src/apps/reanimated/examples/ChatHeadsExample.tsx
  apps/common-app/src/apps/reanimated/examples/CustomHandler/Pagination.tsx
  apps/common-app/src/apps/reanimated/examples/InvertedFlatListExample.tsx
  apps/common-app/src/apps/reanimated/examples/LiquidSwipe/LiquidButton.tsx
  apps/common-app/src/apps/reanimated/examples/OldMeasureExample.tsx
  apps/common-app/src/apps/reanimated/examples/PinExample.tsx
  packages/react-native-reanimated/src/Animated.ts
  packages/react-native-reanimated/src/Easing.ts
  packages/react-native-reanimated/src/commonTypes.ts
  packages/react-native-reanimated/src/createAnimatedComponent/createAnimatedComponent.tsx
  packages/react-native-reanimated/src/helperTypes.ts
  packages/react-native-reanimated/src/index.ts
Labels: lib: Reanimated

#7866 Fix linking error after Gradle clean project on Android
  packages/react-native-reanimated/android/CMakeLists.txt
  packages/react-native-reanimated/android/build.gradle
  scripts/lint-cmake.sh
Labels: lib: Reanimated

#7918 docs: Update compatibility table
  packages/docs-reanimated/docs/guides/compatibility.mdx
Labels: lib: Reanimated

#7930 Bump minimal React Native version in assertions
  packages/react-native-reanimated/android/build.gradle
  packages/react-native-reanimated/scripts/reanimated_utils.rb
  packages/react-native-worklets/android/build.gradle
  packages/react-native-worklets/scripts/worklets_utils.rb
Labels: lib: Reanimated, lib: Worklets

#7932 fix: CSS animations not being removed from the stylesheet on web
  packages/react-native-reanimated/src/css/managers/CSSAnimationsManager.web.ts
Labels: lib: Reanimated

#7933 [Web LA] Adjust animation cleanup to slower devices
  packages/react-native-reanimated/src/layoutReanimation/web/componentUtils.ts
  packages/react-native-reanimated/src/layoutReanimation/web/domUtils.ts
  packages/react-native-reanimated/src/layoutReanimation/web/transition/Curved.web.ts
Labels: lib: Reanimated

#7934 docs: Add missing 4.0.1 to compat table
  packages/docs-reanimated/docs/guides/compatibility.mdx
Labels: lib: Reanimated

#7826 feat: docs for new spring
  apps/common-app/src/apps/reanimated/examples/PendulumExample.tsx
  packages/docs-reanimated/docs/animations/withSpring.mdx
  packages/docs-reanimated/src/components/InteractivePlayground/useSpringPlayground/index.tsx
  packages/docs-reanimated/versioned_docs/version-3.x/animations/withSpring.mdx
  packages/docs-reanimated/versioned_docs/version-3.x/fundamentals/customizing-animation.mdx
  packages/react-native-reanimated/src/animation/spring/springConfigs.ts
Labels: lib: Reanimated

#7906 feat(Worklets): runAsyncGuardedOnUI
  packages/react-native-worklets/Common/cpp/worklets/NativeModules/WorkletsModuleProxy.cpp
  packages/react-native-worklets/Common/cpp/worklets/Tools/AsyncQueueImpl.cpp
  packages/react-native-worklets/Common/cpp/worklets/Tools/AsyncQueueImpl.h
  packages/react-native-worklets/Common/cpp/worklets/WorkletRuntime/RuntimeManager.cpp
  packages/react-native-worklets/Common/cpp/worklets/WorkletRuntime/RuntimeManager.h
  packages/react-native-worklets/Common/cpp/worklets/WorkletRuntime/WorkletRuntime.cpp
  packages/react-native-worklets/Common/cpp/worklets/WorkletRuntime/WorkletRuntime.h
Labels: lib: Worklets

#7941 fix: Make sure that tagToJSPropNamesMapping is initialized before being used
  apps/common-app/src/apps/reanimated/examples/EmptyExample.tsx
  packages/react-native-reanimated/src/createAnimatedComponent/JSPropsUpdater.ts
  packages/react-native-reanimated/src/initializers.ts
Labels: lib: Reanimated

#7945 Remove ifdefs for pre-0.78
  packages/react-native-reanimated/Common/cpp/reanimated/LayoutAnimations/LayoutAnimationsProxy.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/LayoutAnimations/LayoutAnimationsProxy.h
  packages/react-native-reanimated/Common/cpp/reanimated/LayoutAnimations/LayoutAnimationsUtils.cpp
Labels: lib: Reanimated

#7952 (cherry-pick) fix: CSS animations not being removed from the stylesheet on web
  packages/react-native-reanimated/src/css/managers/CSSAnimationsManager.web.ts
Labels: lib: Reanimated

#7783 feat: Static props support in SVG CSS animations
  apps/common-app/src/apps/css/examples/animations/screens/animatedProperties/svg/Circle.tsx
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/common/values/CSSDimension.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/svg/config/interpolators/circle.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/svg/config/interpolators/common.h
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/svg/values/.gitkeep
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/svg/values/SVGLength.cpp
  packages/react-native-reanimated/Common/cpp/reanimated/CSS/svg/values/SVGLength.h
  packages/react-native-reanimated/src/createAnimatedComponent/AnimatedComponent.tsx
Labels: lib: Reanimated

#7959 fix(Reanimated): withSpring overshoot clamping coordinates
  packages/react-native-reanimated/src/animation/spring/springUtils.ts
Labels: lib: Reanimated
